@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300&display=swap'); 
*{
    margin: 0;
    padding: 0;
}

.logo-rontacoleds {
    max-width: 80px;
}
#img-iconos-inicio {
    max-width: 70px;
}
#cartas-de-producto:hover {
    transform: scale(1.25);
    z-index: 1;
    transition: all .25s;
}
.navbar-brand:hover {
    transform: rotate(360deg) scale(1.2);
    transition: all 2s;
}
.bienvenido {
    color: black;
    font-size: 70px;
    font-style: bold;
    font-family: 'Inter Tight', sans-serif;
}
body, footer, header {
    font-family: 'Inter Tight', sans-serif;
}
.imagen-body-nosotros{
    width: 350px;
    height: 250px;
}
.texto-body {
    font-size: 20px;
}
.lista-contacto {
    list-style: none;
    font-size: 25px;
}
.lista-contacto-titulo {
    font-size: 30px;
}