*{
    margin: 0;
    padding: 0;
}

.logo-rontacoleds {
    max-width: 60px;
}
#barra-navegable {
    background-color: #B09B71;
}
#img-iconos-inicio {
    max-width: 53px;
}
#subfoto {
    background-color: #B09B71;
}